# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# environment-specific scripts
*.bat

# Editor directories and files
.vscode

# Jest coverage
coverage/